<p id="notice"><%= notice %></p>

<h1>List of all Pres</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pres.each do |pre| %>
      <tr>
        <td><%= link_to pre.adsh, pre %></td>
      </tr>
    <% end %>
  </tbody>
</table>
