<%= render 'subs/subs_menu'%>

<%= content_for :subs_content do %>
<div class="filer container-fluid">
<ul>
  <% @stockData.each do |row| %>
  <li><%= "#{row[0]} : #{row[1]}" %></li>
  <% end %>
  </ul>
  </div>
<% end %>

