<p id="notice"><%= notice %></p>

<h1>List of all Nums</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @nums.each do |num| %>
      <tr>
        <td><%= link_to num.adsh, num %></td>
      </tr>
    <% end %>
  </tbody>
</table>
