<div class="site-wrap">
	<div class="header-wrap bg-primary">
		<div class="logo">HEADER WRAP</div>
	</div>
	<div class="content-wrap">
	<form action="" class="form-inline company-form">
	  <div class="form-group">
	    <label for="companyName">Company Name</label>
	    <input type="text" class="form-control" id="companyName" placeholder="Company Name">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	</div>
	<footer class="footer bg-info">
	<div class="container"></div>
		FOOTER WRAP
	</footer>
</div>