<div class="welcome container-responsive">
<div class="filer-link">
<h1>SEC FILINGS FOR ANALYSTS</h1>
<h3 style="text-align: center"><%= link_to 'See List of All Filers', filers_path %></h3>
</div>
<img src="/images/financial_spreadsheet_header.jpg" alt="">
</div>
