<p id="notice"><%= notice %></p>

<h1>List of all Tags</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.tag, tag %></td>
      </tr>
    <% end %>
  </tbody>
</table>
