<p id="notice"><%= notice %></p>

<h1>List of all Filers</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

<table class='sortable'>
  <tr>
  <%@subKeys.each do |key| %>
    <th><%=key%></th>
  <% end %>
  </tr>
  <% @subs.limit(100).each do |sub| %>
  <tr>
    <% @subKeys.each do |v| %>
    <td><%=link_to sub[v], sub%></td>
    <% end %>
    </tr>
  <% end %>
</table>
<br>

