.site-wrap .filer {
	position: relative;
	bottom: 0;
	right: 0;
	width: auto;
	overflow: scroll;
	margin-bottom: 40px;
}

.table-responsive {
	width: 100%;
}

.report-heading {
	margin: 0;
	padding: 10px 12px;
	background-color: #163550;
	color: white;
}

.filer-content .nav-tabs>li.active>a,
.filer-content .nav-tabs>li.active>a:focus,
.filer-content .nav-tabs>li.active>a:hover {
	background-color: #163550;
	color: white;
}

.filer-content ul {
	padding: 8px 8px 0 8px;
}

.filer-index tr {
	cursor: pointer;
}

.filers {
	margin: 0;
}
