.the-menu {
	position: relative;
	float: left;
	left: 0;
	bottom: 0;
	width: 220px;
	text-align: right;
	background: white;
	color: #111;
	overflow: scroll;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 100%;
}

.ticker,
.exchange {
	color: #8F8F8F;
}

.echange {
	font-weight: bold;
	font-size: 1.1em;
}

.ticker {
	font-size: 1.5em;
}

.subs-summary .name {
	font-size: 1.8em;
}

.subs-detail,
.subs-summary {
	padding: 12px;
}

.subs-detail div {
	clear: both;
	font-size: .8em;
}
.subs-detail h5 span {
	margin-right: 4px;
	vertical-align: top;
}

.subs-nav .active, .subs-nav .nav li:hover a {
	background-color: #163550;
}

.subs-nav .active a, .subs-nav li:hover a {
	color: white;
}

.subs-nav ul {
	padding: 0;
}

