.one-line-table td,
.one-line-table th {
    white-space: nowrap;
    padding: 0 4px;
}

.link-section li {
    display: inline-block;
    margin: 2px 0;
}

.one-line-table td {
    text-align: right;
}

.one-line-table th {
    max-width: 300px;
    overflow: scroll;
}

.table-popup {
    position: absolute;
    background-color: blue
}

.table-hover>tbody>tr>td:hover,
.table-hover>tbody>tr>td:hover {
    background-color: #f5f5f5!important;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: inherit;
}

table .modal-body {
    padding: 0;
}

.filer table .total {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
