.hd h2 {
	display: inline;
	margin-right: 2px;
	font: bold 15px arial;
}

.hd .exchange {
	color: #999;
	font: normal 12px arial;
}

.stock-quote-summary .bid {
	font: bold 30px arial;
}

.stock-header {
	padding: 13px 0 9px 5px;
	margin-top: 0;
	border-bottom: 2px solid #000;
	font-size: 13px;
}

.stock-quote-summary div {
	display: inline;
}

.stock-quote-summary .price-change,
.stock-quote-summary .price-change-percent,
.stock-quote-summary i {
	font-weight: 200;
	padding-right: 1px;
	font-size: 20px;
}

.stock-state-up {
	color: #080;
}

.stock-state-down {
	color: #800;
}
