<div class="filer container-fluid">
	<div class='the-menu'>
		<div class="subs-summary">
			<span class="exchange"><%= @sub.stock.exchange if @sub.stock %></span>
			<span class="ticker">[<%= @sub.stock.ticker if @sub.stock %>]</span><br>
			<span class="name"><%= @sub.displayName %></span>
		</div>
		<div class="subs-nav">
		<ul class="nav nav-stacked">
		<li class=<%= 'active' if params[:controller] == 'subs' %>><%= link_to "Stock Data", [@sub] if @sub.stock %></li>
		<li class=<%= 'active' if params[:controller] == 'financials' %>><%= link_to "Morning Star Financials", [@sub, :financials] %></li>
		<li class=<%= 'active' if params[:controller] == 'xbrls' %>><%= link_to "Filings Index (xbrls)", [@sub, :xbrls]  %></li>
		<li class=<%= 'active' if params[:controller] == 'nums' %>><%= link_to "Archived Filings (nums)", [@sub, :nums] %></li>
		</ul>
		</div>
		<div class="subs-detail">
		<% if @sub.sics.count > 1%>
			<h5>Industry</h5>
			<% @sub.sics.each do |sic| %>
			<div><%= "#{sic.sic_descrip} / #{sic.naics_descrip}" %></div>
			<% end %>
			<% end %>
			<% if @sub.bas1 %>
			<h5><span class='<%="flag-icon flag-icon-#{@sub.countryba.downcase}"%>'></span>Office Address</h5>
			<div><%= @sub.bas1.titleize if @sub.bas1%></div>
			<div><%= @sub.bas2.titleize if @sub.bas2%></div>
			<div><%= "#{@sub.cityba.capitalize if @sub.cityba}, #{@sub.stprba} #{@sub.zipba}" %></div>
			<% end %>
			<% if @sub.mas1 %>
			<h5>Mailing Address</h5>
			<div><%= @sub.mas1.titleize if @sub.mas1%></div>
			<div><%= @sub.mas2.titleize if @sub.mas2 %></div>
			<div><%= "#{@sub.cityma.titleize }, #{@sub.stprma} #{@sub.zipma} " if @sub.cityma%></div>
			<% end %>
			<% if @sub.stock.incorporated %>
			<h5>Incorporated</h5>
			<div><%= getStateName(@sub.stock.incorporated)%></div>
			<% end %>
			<h5>Identifiers</h5>
			<div><%= "CIK: #{@sub.cik}" if @sub.cik %></div>
			<div><%= "IRS: #{@sub.stock.irs}" if @sub.stock.irs %></div>
			<div><%= "ADSH: #{@sub.adsh}" if @sub.adsh %></div>

		</div>
	</div>
	<div class="filer container-fluid">
		<%= yield %>
	</div>
</div>
