<%= render layout: 'subs' do %>
	<div class="filer container-fluid">
		<ul>
			<% @sub.xbrls.each do |xbrl| %>
				<li><a href="ftp://<%= xbrl.getXbrlLink %>" target="_blank"><%= "#{xbrl.formtype} | filed on: #{xbrl.datefiled}"%></a></li>
			<% end %>
		</ul>
	</div>
	<%=@html.html_safe%>
<% end %>
