<%= render layout: 'filers_menu' do %>
	<div class="filer container-fluid">
		<ul>
			<% @filer.xbrls.each do |xbrl| %>
				<li><a href="ftp://<%= xbrl.get_xbrl_link %>" target="_blank"><%= "#{xbrl.formtype} | filed on: #{xbrl.datefiled}"%></a></li>
			<% end %>
		</ul>
	</div>
	<%=@html.html_safe%>
<% end %>
